.sorting-tabs {
  position: relative;
  padding: 5px;
  z-index: 1;
  width: initial;
}
.sorting-tab {
  width: 33.33%; 
  font-size:medium;
}
.selected-sorting-tab {
  width: 33.33%; 
  font-size:medium;
  font-weight:bold;
}
