.edit-tags-bar {
  flex: 1;
  color: black;
}
.input-black::-webkit-input-placeholder {
  color: black;
}
.input-black {
  min-width: 250px;
  color: black;
  display: block;
  border: none;
  font-size: 18px;
  outline: none;
}
.input-white::-webkit-input-placeholder {
  color: white;
}
.input-white {
  min-width: 250px;
  color: white;
  display: block;
  border: none;
  font-size: 18px;
  outline: none;
}
.tag {
  position: relative;
  background-color: white;
  border-radius: 2px;
  display: inline-block;
  font-family: sans-serif;
  font-size: 12px;
  font-weight: 400;
  margin: 3px;
  padding: 4px;
  box-shadow: 1px 1px 2px black;
}
.remove-tag-button {
  background-color: transparent;
  border-color: transparent;
  margin-right: 3px;
  color: #FF0000;
}
.hidden {
  display: none;
}
