.note {
  border-radius: 3px;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
  cursor: pointer;
}
.selected-note {
  border-radius: 3px;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
  box-shadow: 3px 3px 5px black;
}
.note-upper {
  display: flex;
}
.note-middle {
  margin-left: 3px;
  margin-right: 3px;
}
.note-lower {
  display: flex;
  flex-wrap: wrap;
}
.hidden {
  display: none;
}
.note-show-hide-button {
  position: absolute;
  top: 0px;
  right: 5px;
  margin: 2px;
}
.done-editing-button {
  justify-content: flex-end;
  color: #00bb00;
  margin: 2px;
}
.edit-note-button {
  justify-content: flex-end;
  color: #000000;
  margin: 2px;
}
.delete-note-button {
  justify-content: flex-end;
  margin: 2px;
}
.note-text-input {
  flex: 1;
  border-radius: 2px;
  resize: none;
  border: none;
  outline: none;
  font-size: 16px;
  margin-left: 3px;
  margin-top: 3px;
}
hr {
  position: relative;
  height: 1px;
  color: #989898;
  border: 0;
  background-color: #989898;
  width: 100%;
  margin-top: -2px;
  margin-bottom: 3px;
}
.tag {
  position: relative;
  background-color: #cde69c;
  border-radius: 2px;
  border: 1px solid #a5d24a;
  color: #638421;
  display: inline-block;
  font-family: sans-serif;
  font-size: 13px;
  font-weight: 400;
  margin: 5px;
}
@media screen and (max-width: 600px) {
  .note {
    order: 2;
  }
  .selected-note {
    order: 1;
  }
}
