.sorting-tabs {
  display: flex;
  flex-direction: row;
  height: 27px;
}
.sorting-tab {
  flex-grow: 1;
  font-size:medium;
  cursor: pointer;
  background-color: lightgrey;
}
.selected-sorting-tab {
  flex-grow: 1;
  font-size:medium;
  font-weight:bold;
  cursor: pointer;
  background-color: lightgrey;
}
@media screen and (max-width: 600px) {
  .sorting-tabs {
    
  }
  .sorting-tab {

  }
  .selected-sorting-tab {

  }
}
