.menu-bar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 27px;
}
.clear-cache-button {
  cursor: pointer;
  z-index: 2;
  background-color: lightgrey;
}
.change-domain-button {
  cursor: pointer;
  z-index: 2;
  background-color: lightgrey;
}
@media screen and (max-width: 600px) {
  .menu-bar {
    order: 1;
  }
  .clear-cache-button {

  }
  .change-domain-button {

  }
} 
