.menu-bar {
  background-color: #0097a7;
  z-index: 2;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  z-index: 1001;
}
.menu-dropdown {
  position: fixed;
  top: 3px;
  right: 3px;
  padding: 5px;
  border-radius: 3px;
  font-size: 20px;
  font-family: sans-serif;
  background-color: #a2a2a2;
  z-index: 1002;
  box-shadow: 0 2px 4px 0;
}
.undo-control-disabled {
  color: #7b7b7b;
  font-size: 24px;
  cursor: pointer;
  margin: 5px 0 5px 0;
  padding: 0 10px;
  order: 0;
}
.info-button {
  color: #fff;
  font-size: 24px;
  cursor: pointer;
  margin: 5px 0 5px 0;
  padding: 0 10px;
  order: 0;
}
.undo-control {
  color: #fff;
  font-size: 24px;
  cursor: pointer;
  margin: 5px 0 5px 0;
  padding: 0 10px;
  order: 0;
}
.menu-dropdown-container {
  position: fixed;
  z-index: 1001;
  top: 0;
  left: 0;
  overflow: auto;
  width: 100%;
  height: 100%;
}
.gps-control {
  color: #fff;
  cursor: pointer;
  font-size: 24px; 
  margin: 5px 0 5px 0;
  order: 1;
  padding: 0 10px;
}
.gps-control-disabled {
  color: #757575;
  cursor: pointer;
  font-size: 24px; 
  margin: 5px 0 5px 0;
  order: 1;
  padding: 0 10px;
}
.overflow-button {
  color: #fff;
  cursor: pointer;
  font-size: 24px; 
  margin: 5px 0 5px 0;
  padding: 0 10px;
  order: 3;
}
.clear-cache-button {
  color: #fff;
  cursor: pointer;
  font-size: 24px; 
  margin: 5px 0 5px 0;
  padding: 0 10px;
  order: 1;
}
.change-domain-button {
  color: #fff;
  cursor: pointer;
  font-size: 24px; 
  margin: 5px 0 5px 0;
  order: 2;
  padding: 0 10px;
}
.hidden {
  display:none;
}
@media screen and (max-width: 600px) {
  .menu-bar {
    order: 1;
  }
  .clear-cache-button {

  }
  .change-domain-button {

  }
} 
