@media screen and (min-width: 601px) {
  .map-panel {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    order: 2;
  }
}

:global #draw-polygon {
	position: absolute;
	right: 40px;
	top: 50px;
	z-index: 4;
}

:global .leaflet-container {
  width: 100%;
  flex-grow: 1;
}

:global #drag-button {
	position: absolute;
	right: 40px;
	top: 20px;
	z-index: 3;
}
.undo-button {
  padding: 7px;
  font-size: 14px;
  cursor: pointer;
  z-index: 5;
  border-radius: 5px;
}
.gps-button {
  padding: 7px;
  font-size: 14px;
  cursor: pointer;
  z-index: 5;
  border-radius: 5px;
}
.selected-note-marker {
  font-size: 25px;
  top: -25px;
}
.hidden {
  display:none;
}
.drawing-message {
  position: absolute;
  bottom: 0px;
  height: 45px;
  width: 100%;
  box-shadow: inset 0px 40px 30px #0000FF;
  font-size: 20px;
  pointer-events: none;
  color: #FFFFFF;
  z-index: 10000;
}
.field-polygon {
  stroke-width: 2.5;
  stroke: #000000;
  fill: #000000;
  fill-opacity: 0.15;
}
.note-polygon {
  stroke-width: 4;
  stroke-opacity: 1;
  fill-opacity: 0;
}

@media screen and (max-width: 600px) {
  .map-panel {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100vw;
    max-height: 100vw;
    width: 100vw;
    max-width: 100vw;
    order: 1;
  }
  :global .leaflet-control-container .leaflet-control-attribution {
    font-size: xx-small;
  }
}
