#menu-bar {
  display:inline-block;
  right:0px;
  top:0px;
  width:100%;
  z-index:2;
  border-style:solid;
  border-radius:2px;
  border-color:black;
  background-color:white;
}
.menu-button {
  display:inline-block;
  float:right;
  width:auto;
  border-style: solid;
  border-radius: 2px;
  border-color: black;
  background-color: white;
}
