.editTagsBar {
;
}
.input {
  border:none;
  background-color:transparent;
  outline: none;
}
.tag {
  position: relative;
  background-color: white;
  border-radius: 2px;
  color: #638421;
  display: inline-block;
  font-family: sans-serif;
  font-size: 12px;
  font-weight: 400;
  margin: 2px;
  padding: 4px;
  box-shadow: 1px 1px 2px black;
}
.remove-tag-button {
  background-color: transparent;
  border-color: transparent;
  padding: 0px;
}
