.new-note {
  display: flex;
  flex-direction:column;
  border-radius: 2px;
  padding: 5px;
  margin: 5px;
  cursor: pointer;
  box-shadow: 1px 1px 10px 0px #212121;
  background-color: #fff;
  z-index: 1004;
  label {
    position: absolute;
    top: 15px;
    left: 8px;
    color: #909090;
    transform: translate3d(0, 0, 0);
    transition: all 0.2s ease-in-out;
  }
  textarea {
    &[data-empty="false"],
    &:focus {
      padding: 22px 8px 10px;
    }
    &:focus {
      outline: 0;
      background: rgba(255,255,255,1);
    }
    &[data-empty="false"] + label,
    &:focus + label {
      color: #5856D6;
      font-weight: 700;
      font-size: 12px;
      transform: translate3d(0, -10px, 0);
    }
  }
}
.new-note-background {
  position: fixed;
  z-index: 1003;
  top: 0;
  left: 0;
  overflow: auto;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.2);
}
.description-label {
  font-size: 14px;
  color: #757575;
}
.description {
  background-color: transparent;
  padding: 3px;
  color: #212121;
  flex: 1;
  font-size: 20px;
  resize: none;
  border: none;
  outline: none;
  padding: 3px 3px 0px 3px;
}
.description:focus {
  border-bottom: 2px #f00 
}
.area-value {
}
.area-header {
  color: #757575
}
.area {
  order: 2;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  font-size: 15px;
  padding: 3px 0 3px 0px;
  align-items: center;
}
.hidden {
  display: none;
}
.delete-note-button {
  position:relative;
  right: 2px;
  display: table;
  text-align: center;
  cursor: pointer;
}
.delete-note-icon {
  display: table-cell;
  font-size: 23px;
  vertical-align: middle;
}

hr {
  height: 1px;
  border: 0;
  background-color: #BDBDBD;
  width: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
}
