.edit-tags-bar {
  display: flex;
	align-items: center;
  color: black;
	padding: 2px;
	flex-wrap: wrap;
}
.input-add {
  display: flex;
}
.add-tag-button {
  order: 2;
  padding: 2px;
}
.input {
  order: 1;
  color: #212121;
  display: block;
  border: none;
  font-size: 16px;
  outline: none;
  flex-grow: 1;
}
.tag {
  position: relative;
  background-color: #00bcd4;
  color: white;
  border-radius: 2px;
  display: inline-block;
  font-family: sans-serif;
  font-size: 12px;
  font-weight: 400;
  margin: 2px 3px 2px 3px;
  padding: 4px;
  box-shadow: 1px 1px 2px black;
}
.remove-tag-button {
  background-color: transparent;
  border-color: transparent;
  margin-right: 3px;
  color: #212121;
}
.hidden {
  display: none;
}
